@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    font-family: "Roboto", sans-serif;
    color: #2d3748;
  }
  h1,
  h2,
  h3 {
    font-family: "Poppins", sans-serif;
    color: #2d3748;
  }
}

@media (max-width: 768px) {
  .overflow-hidden-mobile {
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .overflow-x-hidden-mobile {
    overflow-x: hidden;
  }
}